

<ul id="savedNotes">
    {{!-- {{#if note}}
        {{#each note}}
            <li class="listnote" data-id={{_id}}>{{title}}
                <button class="btn noteDelete">X</button>
            </li>
        {{/each}}    
    {{else}}
        <li>No notes for this title</li>
    {{/if}} --}}
    
    
</ul>
    
    